<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Nossos autores</h1>
    <%= link_to 'Novo autor', new_author_path, class: 'btn btn-success' %>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <% @authors.each do |author| %>
      <!-- Author -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <% if author.photo.attached? %>
            <%= image_tag author.photo, class: 'card-img-top', alt: 'Foto do autor' %>
          <% else %>
            <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title mb-0"><%= "#{author.name}, #{author.year}" %></h5>
            <div class="card-text text-black-50"><%= author.email %></div>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Editar', edit_author_path(author.id), class: 'btn btn-outline-info' %>
              <%= link_to 'Detalhes', author_path(author.id), class: 'btn btn-outline-info' %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, author_path(author.id), method: :delete, class: 'btn btn-outline-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /.row -->

</div>