<h1>Livros salvos</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Páginas</th>
    <th>Conteúdo</th>
    <th>Autor</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.num_pages %></td>
      <td><%= book.content %></td>
      <td><%= book.author.name %></td>
      <td><%= link_to 'Detalhes', book_path(book) %></td>
      <td><%= link_to 'Editar', edit_book_path(book) %></td>
      <td><%= link_to 'Deletar', book_path(book), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Livro', new_book_path %>
<%= link_to 'Home', root_path %>