<%= javascript_include_tag 'custom' %>

<!-- Jquery Example -->
<div class="container text-center pt-5">
  <h1 class="">Formulário</h1>
  <%= form_with url: "/" do |form| %>
    <div class="form-group">
      <%= form.label :selecionador, "Gostaria de escolher um número" %>
      <%= form.select :selecionador, [["Não", false], ["Sim", true]],{}, class: "form-control" %>
    </div>
    <div class="form-group numbers-hide">
      <%= form.label :numbers, "Escolha um número" %>
      <%= form.select :numbers, %w(1 2 3 4 5 6), {}, class: "form-control" %>
    </div>
  <% end %>

</div>

<!-- Full Calendar Example -->
